// Color
$color-primary	:#25a9e0;
$color-secondary:#373b3f;

$color-soft		:#f2f2f2;
$color-dark		:#000000;

$color-grey		:#333333;

$color-bg		:#f3f4f6;

$color-error	:#123456;
$color-success	:#123456;

$color-link		: #3d64d4;


// fonts
$font-base		:'Open Sans', sans-serif;
$font-heading 	:'Open Sans', sans-serif;
