.card-wide {
	width: 100%;
	height: 375px;
	background: $color-soft;
	margin-bottom: 50px;
	.cover-card {
		width: 750px;
		height: 375px;
		float: left;
	}

	.card-wide-content {
		width: 300px;
		float: left;
		margin: 60px 0px 0px 150px;

		a.title {
			font-size: 28px;
			margin-bottom: 60px;
			display: block;
		}
	}
}


.list-card {
	width: 100%;
	display: flex;
 	padding: 0px 10px;
	.box-card {
		width: 25%;
		padding: 0px 10px;
		.content-card {
			width: 100%;
 			height: 330px;
			background: $color-dark;
			margin: 0 auto;
			position: relative;
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top:0;

				img {
					opacity:1;
				}

				img,
				.info-card {
					transition:all 0.3s;
				}

				.info-card {
					position: absolute;
					left: 0%;
					width: 100%;
					top: 50%;
					color: #ffffff;
					transform:translateY(-50%);
					text-align: center;
					opacity: 0;

					h5 {
						font-size: 23px;
						font-weight: 600;
						margin-bottom: 5px;
					}

					span {
						font-size: 14px;
						font-weight: 300;
						display: block;
						font-style: italic;
					}

					label {
						border: 1px solid #ffffff;
						display: inline-block;
						padding:8px 15px;
						font-size: 23px;
						font-weight: 300;
						margin-top: 30px;
						sup {
							font-size: 14px;
							position: relative;
							top:-10px;
						}
					}
				}
			}

			&:hover {
				img {
					opacity: 0.5;
				}
				.info-card {
					opacity: 1;
				}
			}
		}
	}
}

.link-card {
	text-align: center;
	margin:60px 0px;
}

.search-card {
	width: 100%;
	margin-bottom: 60px;
	a.search-card-cover {
		width: 100%;
		height: 300px;
		overflow: hidden;
		display: block;
		img  {
			border-radius: 50px 50px 0px 0px;
		}
	}

	.search-card-content {
		margin-top: 20px;
		position: relative;
		padding-right: 100px;

		a.title-card {
			font-size: 19px;
			font-weight: 600;
			padding-bottom: 20px;
			display: block;
		}

		label {
			position: absolute;
			font-size: 19px;
			right: 25px;
			top: 40px;
			font-weight: 900;
		}
	}
}

.card-profile {
	color: $color-secondary;
	margin-bottom: 40px;
	.card-profile-cover {
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
		img {
			border-radius: 20px 20px 0px 0px;
		}
	}

	a {
		font-size: 18px;
		color: $color-secondary
	}

	ul {
		padding-top: 10px;
		li {
			float: left;
 			border-right: 1px solid $color-secondary;
 			font-weight: 600;
 			padding-right: 7px;
 			margin-right: 7px;
 			&:last-child {
 				border-right: 0px;
 				padding-right: 0;
 				margin-right: 0;
 			}

 			.rating {
 				.rated {
 					color: $color-primary;
 				}
 			}
		}
	}
}