footer {
	width: 100%;
 	background: $color-dark;
  	padding: 40px;
 	color: #ffffff;

 	.link-footer {
 		padding: 30px 0px;
 		li {
 			display: inline-block;
 			margin-right: 5px;
 			a {
 				padding: 5px;
 				display: block;
 				color: #fff;
 				font-size: 13px;
 				font-weight: 500;
 				&:hover {
 					color: $color-primary;
 				}
 			}
 		}
 	}

 	.box-subscribe {
 		margin: 20px 0px;
 		color: #fff;
		position: relative;
 		input[type="submit"] {
 			position: absolute;
 			width: auto;
 			right: 0;
 			top: 0;
 			cursor: pointer;
 			margin-top: 0;
 			font-weight: 700;
 			box-shadow: none;
 		}
 	}
}